# Global snippets (available in all file types)
# SnipMate format
#
# snippet trigger "description"
#   snippet body here
#   $1, $2, etc. for tab stops
#   $0 for final cursor position

snippet hello "Hello world example"
	Hello, ${1:world}!${0}

snippet fixme "FIXME comment"
	FIXME: ${1:description}${0}

snippet todo "TODO comment"
	TODO: ${1:description}${0}

snippet note "NOTE comment"
	NOTE: ${1:description}${0}
